@import "tailwindcss";

@theme {
  --font-sans: "TT Commons Pro", "TT Commons Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;
  --color-primary: #0b5cc5;
  --color-primary-foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
